.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 1px 16px #404fb933;
  border-radius: 12px;
  opacity: 1;
  position: relative;
  margin: auto;
  width: 420px;
  height: 320px;
  padding: 20px;
  margin-top: 14.5rem;
}

.step {
  font-size: 16px/18px;
  color: #707070;
  margin: 0;
  font-family: Helvetica;
  font-weight: 500;
}
.title {
  color: #201eaf;
  margin: 3px 0 0 0;
}
.nextButton {
  position: absolute;
  bottom: 25px;
  left: 6.2rem;
  width: 224px;
  height: 48px;
  background: #fd5c82 0% 0% no-repeat padding-box;
  border-radius: 24px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  opacity: 1;
}
