.input {
  height: 55px;
  width: 100%;
  position: relative;
  top: 60px;
  font-size: 18px;
  border: 1px solid #a5a5e3;
  padding-left: 14px;
}

.ethnicity ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 3.2rem;
}

.ethnicity li {
  white-space: nowrap;
  padding: 7px 22px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid#a5a5e3;
  color: #201eaf;
  border-radius: 18px;
  opacity: 1;
  cursor: pointer;
  text-align: center;
}

.ethnicity li:hover,
.activeEthnicity {
  background-color: #fd5c82 !important;
  color: white !important;
  border: none !important;
}

.bmi {
  color: #fd5c82;
  border: 2px solid #fd5c82;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  font-size: 42px;
  line-height: 112px;
  text-align: center;
  margin: auto;
}

.bmi h6 {
  position: relative;
  top: -4.6rem;
  font-size: 14px;
  font-weight: 500;
  color: #201eaf;
  margin: 0;
  padding: 0;
  opacity: 1;
}
