.input {
  height: 55px;
  width: 100%;
  position: relative;
  top: 60px;
  font-size: 18px;
  border: 1px solid #a5a5e3;
  padding-left: 14px;
}

.ethnicity {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.ethnicity li {
  padding: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-left: 10px;
  border: 1px solid#a5a5e3;
  color: #201eaf;
  text-align: center;
  flex-grow: 1;
  border-radius: 18px;
  opacity: 1;
  cursor: pointer;
}

.ethnicity li:hover,
.activeEthnicity {
  background-color: #fd5c82 !important;
  color: white !important;
  border: none !important;
}
